---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

$red        : #f56;
$blue       : #056;
$green      : #5a6;
$yellow     : #fd6;

$dark-red   : #c45;
$dark-blue  : #045;
$dark-green : #485;

$white      : #fff;
$grey       : #999;
$black      : #333;

$type-base  : 20px;
$grid-vbase : 1.5 * $type-base;
$grid-hbase : 5 * $type-base;

$sans       : ff-enzo-web, "ff-enzo-web", verdana, helvetica, sans-serif;
$serif      : ff-tisa-web-pro, "ff-tisa-web-pro", georgia, serif;


// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "typography",
  "layout",
  "objects"
;
