/* Layout Resets */
body {
  background: $white;
  margin: 0;
}
.container {
  padding: 0 5em;
}
.site-header {
  box-sizing: border-box;
  margin-top: 2.25em;
  margin-bottom: 6em;
  text-align: center;
  img {
    position: absolute;
    height: 1.9em;
    left: -2.5em;
    top: -1.25em;
    width: 1.9em;
  }
}
.page-header {
  margin-bottom: .75em;
}
.border {
  background: url(../images/pattern.png);
  height: 2px;
  width: 100%;
}
header,
main,
footer {
  margin: auto;
  max-width: 1100px;
}
nav {
  display: inline-block; 
}
nav li {
  display: inline-block;
  margin-left: 1em;
}
article,
aside {
  display: inline-block;
  vertical-align: top;
}
article {
  width: 64%
}
aside {
  margin-left: 5%;
  width: 30%;
}
footer {
  clear: both;
  margin-top: 2.25em;
  margin-bottom: 3em;
  max-width: 1100px;
}
@media screen and (max-width: 1060px) {
  nav {
    margin-left: -1.5em; // -1 * [nav li].marginLeft
  }
}
@media screen and (max-width: 360px) {
  body {
    font-size: 2.5vw;
  }
  .container {
    padding: 0 3.5em;
  }
  .site-header {
    margin-top: 1em;
    margin-bottom: 2em;
  }
  nav li:first-child {
    display: block;
    margin-bottom: 1em;
    text-align: left;
    width: 100%;
  }
  article,
  aside {
    display: block;
    margin: 1.5em 0 3em;
    width: 100%;
  }
}