div[class^="placeholder-"] {
  background: #606e87;
  height: 1px;
  margin-bottom: 56.25%;
  max-width: 100%;
  padding: 0;
}
img,
.placeholder-image {
  display: block;
  margin-top: .75em;
  margin-right: auto;
  margin-left: auto;
}
.placeholder-image {
  width: 230px;
}
img {
  max-width: 100%;
}
nav {
  ul {
    margin-top: .33em !important;
  }
}
div[class^="box"] {
  display: inline-block;
  height: 1.25em;
  vertical-align: middle;
  width: 1.25em;
  & ~ p {
    display: inline;
    margin: 0;
  }
}
.box--red {
  background: $red;
}
.box--blue {
  background: $blue;
}
.box--green {
  background: $green;
}
.box--yellow {
  background: $yellow;
}
.box--darkred {
  background: $dark-red;
}
.box--darkblue {
  background: $dark-blue;
}
.box--darkgreen {
  background: $dark-green;
}