/* Typography Resets */
body {
  color: $black;
  font-family: $serif;
  font-size: $type-base;
  line-height: 1.5;
}

/* Block Elements */
article,
aside {
  margin-top: 1.5em;
}
h1,
h2,
h3,
h4,
p,
ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1.5em;
}
h1,
h2,
h3,
h4 {
  line-height: 1.25;
  margin: .25em 0;
}
h1 {
  color: $blue;
  font-family: $sans;
  font-size: 2.5em;
  font-weight: 700;
  margin-bottom: .25em;
  text-align: center;
}
h2 {
  font-family: $sans;
  font-size: 2em;
  font-weight: 300;
}
h3 {
  font-size: 1em;
  font-weight: 400;
  letter-spacing: .05em;
  text-transform: uppercase;
}
h4 {
  font-family: $sans;
  font-size: .9em;
  font-weight: 700;
}
p {

}
img + p {
  font-size: .8em;
}
ul {
  list-style: none;
  padding-left: 0;
}
ol,
dl,
ul {
  ol,
  dl,
  ul {
  margin: 0;
  }
  ul {
    list-style: circle;
  }
}
ol,
dl,
ul ul {
  padding-left: 1.5em;
  ul {
    padding-left: 1.5em;
  }
}
li {
  position: relative;
}
nav h2 {
  line-height: .5em;
}
footer {
  color: $grey;
}

/* Inline Elements */
a,
a:link {
  color: $dark-red;
  text-decoration: none;
}
a:hover {
  color: $red !important;
}
a:active,
a:visited {

}
nav a,
nav a:link {
  color: $black;
}
em {
  color: $red;
}
strong {
  font-family: $sans;
  font-weight: 700;
}

@media screen and (max-width: 1060px) {
  body {
    font-size: 2vw;
  }
  nav li {
    margin-left: 1em;
  }
}
@media screen and (max-width: 400px) {
  body {
    font-size: 4vw;
    line-height: 1.6;
  }
}