<!doctype html>
<html>
  {% include head.html %}
  <body>
    <div class="container">
      {% include header.html %}

      <div class="sidebar nav">
        <nav>
          <ul>
            <li><h3>Case Studies</h3></li>
          {% for page in site.case-studies %}
            <li><a href="{{ page.url }}">{{ page.title | remove:"Case Study – " }}</a></li>
          {% endfor %}
          </ul>
        </nav>
      </div>

      <main>{{ content }}</main>

      {% include footer.html %}
    </div>
  </body>
</html>
